.cart-item-container {
  /* border: 2px solid; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), white); */
}

.cart-item-container:not(:last-child) {
  margin-bottom: 4px;
}

.cart-item-container .cart-img {
  /* border: 2px solid red; */
  font-size: 30px;
  padding: 10px;
  transition: 1s all;
  cursor: default;
}

.cart-item-container .cart-img:hover {
  transition: 1s all;
  transform: scale(1.2);
  /* transform: translate3d(-10px, -10px, 10px); */
}

.cart-details-cntr {
  /* border: 2px solid purple; */
  padding: 10px;
  margin-left: 10px;
}

.cart-btns-cntr {
  margin-top: 2px;
  padding: 5px;
}

.action-icons:active {
  transform: scale(0.9);
}

.cart-btns-cntr img:first-child {
  margin-left: -5px;
}

.cart-btns-cntr img:not(:last-child) {
  margin-right: 8px;
}

.cart-btns-cntr img {
  height: 18px;
  cursor: pointer;
}

.cart-details-cntr {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.cart-details-cntr > * {
  /* border: 2px solid; */
}

.cart-details-cntr h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.cart-details-cntr p {
  font-size: 16px;
}

.cart-item-dividor:not(:last-child) {
  height: 1px;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.253);
}

@media only screen and (max-width: 768px) {
  .cart-item-dividor:not(:last-child) {
    width: 80%;
  }

  .cart-item-container {
    width: 100vw;
  }
  .cart-details-cntr h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
    width: 80%;
  }
  .cart-details-cntr p {
    font-weight: 300;
    font-size: 14px;
  }
}
