.cart-container {
  /* border: 2px solid red; */
  margin-top: 50px;
  padding: 10px 0 10px 40px;
  /* background: url('https://wallpaperaccess.com/full/359397.jpg'); */
  /* background: linear-gradient(white, rgba(96, 145, 250, 0.562)); */
  float: left;
  /* width: 50vw; */
  display: flex;
  flex-direction: column-reverse;
}
