.cart-container {
  /* border: 2px solid red; */
  margin-top: 60px;
  padding: 10px 0 10px 40px;
  /* background: linear-gradient(white, rgba(96, 145, 250, 0.562)); */
  float: left;
  /* width: 50vw; */
  display: flex;
  flex-direction: column-reverse;
}

.loading-icon {
  height: 70px;
  width: 320px;
  margin-top: 30px;
}
.loading-icon img {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .cart-container {
    /* border: 2px solid green; */
    padding: 10px 0 10px 40px;
    /* background: linear-gradient(white, rgba(96, 145, 250, 0.562)); */
    float: none;
    width: 100%;
    margin: 0;
  }

  .loading-icon {
    width: 80%;
  }
}
