* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  /* TODO: Change Font */
  font-family: 'system-ui', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.centre-content-vertically {
  display: flex;
  align-items: center;
}
.centre-content-horizontally {
  display: flex;
  justify-content: center;
}
