* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  font-family: 'system-ui', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

.centre-content-vertically {
  display: flex;
  align-items: center;
}
.centre-content-horizontally {
  display: flex;
  justify-content: center;
}

.centre-content-both {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.cantDoCursor {
  cursor: not-allowed !important;
}
