.header {
  background-color: lightblue;
  color: white;
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  padding-left: 10px;
}

.header h1 {
  float: left;
  font-weight: 100;
  color: black;
}

.cart-img {
  height: 35px;
  padding: 10px;
  opacity: 0.6;
  /* Motherfucker float why the fuck it doesnt working */
  /* float: right; */
  position: fixed;
  right: 0;
  margin-right: 90px;
}

.cart-count {
  color: white;
  /* font-weight: bold; */
  font-size: 15px;
  display: flex;
  align-items: center;
  background: #f79a22;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  margin-top: -25px;
  margin-right: 88px;

  position: fixed;
  right: 0;
}
