.header {
  background-color: lightblue;
  color: white;
  weight: 100vw;
  height: 60px;
}

.header h1 {
  float: left;
  font-weight: 500;
  margin: 7px 0 0 10px;
  /* color: rgba(10, 6, 255, 0.699); */
  color: black;
}

.header img {
  height: 35px;
  padding: 10px;
  float: right;
  margin-right: 50px;
}

.header p {
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  background: #f79a22;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  float: right;
  margin-top: 5px;
  margin-right: -65px;
}
